// Import wee-core reset and components
@import '~wee-core/styles/reset';
@import '~wee-core/styles/components/helpers';
@import '~wee-core/styles/components/buttons';
@import '~wee-core/styles/components/code';
@import '~wee-core/styles/components/forms';
@import '~wee-core/styles/components/tables';
@import './print.scss';

// Import generated media query file for screen mapping
@import '../../build/temp/responsive';

#global {
    // Global helpers and state modifiers
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Oswald', sans-serif;

    &.-popup {
        position: fixed;
    }
}
.section-title {
    font-size: 3rem;
    margin: 4rem 0;
    position: relative;
    
    &.-center {
        text-align: center;
    }

    &.-left {
        text-align: left;
    }

    &.-right {
        text-align: right;
    }
}

.video {
    margin: 6rem 0;
    text-align: center;

    &__wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

iframe {
    margin: 0;
}