// Override core variables or add custom values here
// Default settings available at https://www.weepower.com/style/variables

// $primary: red;

@import '~wee-core/styles/variables.scss';


// Layout
$maxWidth: 1800px; // max container width, false to disable
$bumperPadding: 6%;  // bumper padding on containers, false to disable
$padContainer: true; // enable bumperPadding on containers

// Color 
$black: rgba(#000, 0.9);

$baseFont: 'Oswald', sans-serif;
$headingFont: 'Ubuntu', sans-serif;
$headingFontWeight: $boldFontWeight;

// Paragraphs
$paragraphColor: inherit;

// HR
$ruleColor: $darkerGray;
$ruleHeight: 2px;
$ruleStyle: solid;
$ruleMargin: 2rem;

$iconFont: 'hiddenland';
$woff2Enabled: false;
$light: 200;
$regular: 400;
$medium: 500;
$semiBold: 600;
$smallFontSize: 1.3rem;