.card {
    background: #fff;
    border: 1px solid $lighterGray;
    color: $baseColor;
    display: block;
    margin: $blockMarginBottom 0;
    padding: 0;
    text-align: center;
    transition: transform 0.59s cubic-bezier(1,.35,.16,.59);
    width: 100%;

    &:hover {
        color: rgba($baseColor, 0.7);
        cursor: pointer;
        transform: translateY(-5%);
    }
}

@tablet {
    .card {
        width: 46%;
    }
}