.site-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $black;
    height: 100vh;
    padding: 3rem 12%;
    position: relative;

    &__title {
        margin: 0 0 3rem;
        text-transform: uppercase;
    }

    &__nav {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.container {
            padding: 0;
        }
    }

    &__content {
        @include absolute(0,0,0,0);

        position: absolute;
        text-align: center;
        transform: translateY(30%);
    }

    &__album-title {
        font-size: 3rem;
        text-transform: uppercase;
    }

    &__album-info {
        font-size: 1.7rem;
        text-transform: lowercase;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    a {
        color: inherit;
        font-size: 1.8rem;

        &:hover {
            color: rgba(#000, 0.6);
        }
    }
}

@tablet {
    .site-header {
        &__title {
            margin-bottom: 0;
        }

        &__nav {
            flex-direction: row;
            transform: translateY(-200%);
            transition: transform 0.8s cubic-bezier(1,.35,.16,.59);
            
            &.-loaded {
                transform: translateY(0%);
            }

            &.container {
                padding: 0 $bumperPadding;
            }
        }

        &__album-title {
            font-size: 5rem;
        }
    
        &__album-info {
            font-size: 3rem;
        }

        ul {
            display: flex;
            justify-content: space-between;
            width: 40%;
        }
    }
}

@desktop {
    .site-header {}
}
