.perspectives {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;

    &__image-container {
        position: relative;

        &::before {
            @include absolute(0,0,0,0);

            background-color: rgba(#000, 0.3);
            content: '';
        }
    }

    &__image {
        vertical-align: middle;
    }

    &__content {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
}

@tablet {
    .perspectives {
        color: $black;
        flex-direction: row;
    
        &__image-container {
            width: 50%;
        }

        &__content {
            position: static;
            margin: 0 auto;
            text-align: center;
            height: auto;
            width: 50%;
        }
    }
}
